@font-face {
  font-family: "remixicon";
  src: url('../../../fonts/icon/remixicon.eot?t=1708865856766'); /* IE9*/
  src: url('../../../fonts/icon/remixicon.eot?t=1708865856766#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("../../../fonts/icon/remixicon.woff2?t=1708865856766") format("woff2"),
  url("../../../fonts/icon/remixicon.woff?t=1708865856766") format("woff"),
  url('../../../fonts/icon/remixicon.ttf?t=1708865856766') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../../fonts/icon/remixicon.svg?t=1708865856766#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}
.bb-main-menu-desk .bb-inner-menu-desk .bb-main-menu ul.navbar-nav .bb-main-dropdown .bb-dropdown-item:after {
    content: "\ea4e" !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #3d4750;
    border-radius: 50%;
    position: absolute;
    top: 52%;
    right: -13px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #3d4750;
    font-family: "remixicon";
}

.tab-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #6c7fd8;
    transition: all 0.3s ease;
}
.tab-arrow {
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #6c7fd8;
}
.tab-btn:hover .tab-line,
.active-tab .tab-line {
    width: 100%;
}
.tab-btn:hover .tab-arrow,
.active-tab .tab-arrow {
    opacity: 1;
}
.active-tab {
    color: #6c7fd8 !important;
}